.CollectionNotice {
    padding: 2rem 0;
    text-align: center;

    &__Text {
        font-size: var(--fontSizeMd);
        font-style: italic;
        color: var(--colSub);
        margin: 0;
    }

    &__TagsWrapper {
        margin-top: 0.5rem;
    }

    &__TagsLabel {
        color: var(--colTextAlt);
    }

    &__TagsContent {
        color: var(--colSub);
    }
}
