.DemoDataBanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-bottom: var(--lineWidth) solid var(--colText);

    &__Text {
        flex-shrink: 10;
    }

    &__BtnDismiss {
        composes: Btn Btn--Tert from global;
    }

    &__BtnLoad {
        composes: Btn Btn--Pri from global;
        flex-shrink: 1;
    }
}
