.Jot {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 720px;
    margin: auto;

    &__NoticeWrapper {
        padding: 40px 0;
    }

    &__List {
        display: flex;
        flex-direction: column;
    }
}
