@use "styles/mixins" as *;

.JotItem {
    appearance: none;
    background-color: transparent;
    font-weight: normal;
    font-family: var(--fontFamily);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0.5rem;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    border-width: var(--itemBorderWidth);
    border-color: transparent;
    user-select: none;

    &:hover {
        background-color: var(--colBgAlt);
    }

    &--Selected {
        border-color: var(--colMain);
    }

    &__Icon {
        display: grid;
        align-items: center;
        flex-shrink: 0;
        color: var(--colText);
    }

    --iconSize: 24px;

    &__Favicon {
        width: var(--iconSize);
        height: var(--iconSize);
        object-fit: contain;
    }

    &__ColourBlock {
        display: inline-block;
        width: var(--iconSize);
        height: var(--iconSize);
        border-radius: 50%;
    }

    &__Body {
        display: flex;
        align-items: center;
        min-width: 0;
        gap: 0.5rem;
        flex-grow: 10;
        animation: bodySlideUp var(--transTime) ease-in-out forwards;

        @keyframes bodySlideUp {
            from {
                opacity: 0;
                transform: translateY(0.5rem);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &__PrimaryText,
    &__SecondaryText {
        @include Ellipsified;
    }

    &__PrimaryText {
        font-size: var(--fontSizeMd);
        color: var(--colText);
        flex-shrink: 1;

        &--TodoDone {
            text-decoration: line-through;
            color: var(--colTextAlt);
        }

        // &--Title {
        //     color: var(--colMain);
        // }
    }

    &__SecondaryText {
        font-size: var(--fontSizeSm);
        color: var(--colTextAlt);
        flex-shrink: 10;
    }

    &__Copied {
        color: var(--colMain);
        animation: copiedFadeIn var(--transTime) ease-in-out forwards;

        @keyframes copiedFadeIn {
            from {
                opacity: 0;
                transform: scale(0.8);
            }
            to {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &__StatusWrapper {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        flex-shrink: 0;
        margin-left: auto;
    }

    &__StatusIcon {
        display: grid;
        place-items: center;
        color: var(--colSub);

        &--Pin {
            color: var(--colMain);
        }
    }

    &__Datetime {
        font-size: var(--fontSizeMd);
        color: var(--colText);
        flex-shrink: 0;
    }

    &--Expanded {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        padding: 0.75rem 0.5rem;
        border-left: var(--itemBorderWidth) solid var(--colTextAlt);
        border-bottom: var(--itemBorderWidth) solid var(--colTextAlt);

        .JotItem__Datetime {
            color: var(--colTextAlt);
        }

        &.JotItem--Selected {
            border: var(--itemBorderWidth) solid var(--colMain);
        }
    }

    &__ExpandedRow1 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }

    &__ExpandedRow2 {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        flex-wrap: wrap;
        width: 100%;
    }

    &__ExpandedRow2Right {
        margin-left: auto;
    }

    &__Tags {
        @include Ellipsified;
        font-size: var(--fontSizeSm);
        color: var(--colSub);
    }
}
