@use "styles/mixins" as *;

.JotItemContextMenu {
    composes: Dropdown__Content from global;

    @keyframes contextMenuScaleIn {
        from {
            opacity: 0;
            transform: scale(0);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    &[data-state="open"] {
        animation: contextMenuScaleIn var(--transTime) ease-in-out !important;
        transform-origin: top left;
    }

    &[data-state="closed"] {
        animation: none !important;
    }

    &__Item {
        composes: Dropdown__Item from global;

        &--Destructive {
            color: var(--colDanger) !important;

            &:hover {
                color: var(--colBg) !important;
            }
        }
    }

    &__Separator {
        composes: Dropdown__Separator from global;
    }
}
