@mixin StandardBorder {
    border: var(--lineWidth) solid var(--colText);
}

@mixin ClearBtn {
    appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

@mixin Ellipsified {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin GlassBlur {
    background-color: color-mix(in srgb, var(--colBg), transparent 90%);
    backdrop-filter: blur(0.75rem);
}

@mixin BtnBase {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    border-width: var(--lineWidth);
    border-color: transparent;
    padding: 0;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all ease-in-out var(--transTime);
}

@mixin BtnPri {
    @include BtnBase;
    color: var(--colBg);
    background-color: var(--colMain);

    &:hover {
        color: var(--colBg);
        background-color: var(--colText);
    }
}

@mixin BtnSec {
    @include BtnBase;
    border: none;
    color: var(--colText);
    background-color: var(--colBgAlt);

    &:hover {
        color: var(--colBg);
        background-color: var(--colText);
    }
}

@mixin BtnOutline {
    @include BtnBase;
    @include StandardBorder;
    color: var(--colText);
    background-color: transparent;

    &:hover {
        color: var(--colBg);
        background-color: var(--colText);
    }
}

@mixin BtnTert {
    @include BtnBase;
    background-color: transparent;
    color: var(--colText);
    text-decoration: underline;
    padding: 0;

    &:hover {
        background-color: var(--colBgAlt);
    }
}

@mixin BtnQuart {
    @include BtnBase;
    background-color: transparent;
    color: var(--colTextAlt);
    text-decoration: none;
}

@mixin BtnDanger {
    @include BtnBase;
    padding: 0.5rem 1rem;
    color: var(--colDanger);
    background-color: var(--colDangerAlt);

    &:hover {
        color: var(--colBg);
        background-color: var(--colText);
    }
}

@mixin BtnIcon {
    @include BtnBase;
    @include ClearBtn;
    padding: 0.25rem;
    color: var(--colText);

    &:hover {
        background-color: var(--colBgAlt);
    }
}
