@mixin StandardBorder {
    border: var(--lineWidth) solid var(--colText);
}

@mixin StandardOutline {
    outline: var(--lineWidth) solid var(--colText);
}

@mixin ClearBtn {
    appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

@mixin Ellipsified {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
