// Theme CSS variables
// Theme is set in ThemeManager programmatically
:root {
    // Fallback defaults for SSR/no-JS (light theme)
    --colBg: #e0e0e0;
    --colMain: #0098a9;
    --colSub: #777777;
    --colText: #121212;
    --colDanger: #fa5252;

    // Important extra variables derived from data, not fallback
    --colTextAlt: color-mix(in srgb, var(--colText), var(--colBg) 50%);
    --colBgAlt: color-mix(in srgb, var(--colBg), var(--colText) 10%);
    --colDangerAlt: color-mix(in srgb, var(--colDanger), transparent 80%);

    --fontFamily: "Space Grotesk", sans-serif;
    --fontFamilyMono: "Space Mono", monospace;

    --verticalPaddingLg: 6rem;
    --verticalPaddingSm: 4rem;

    --collectionColourBlockSize: 0.75rem;

    --fontSizeSeparator: 1.5rem;
    --fontSizeXs: 0.75rem;
    --fontSizeSm: 0.875rem;
    --fontSizeMd: 1rem;
    --fontSizeLg: 1.25rem;
    --fontSizeXl: 1.5rem;
    --fontSizeLogo: 3rem;

    --dialogWidth: 640px;
    --dialogHeight: 85vh;
    --fullWidth: 1024px;
    --routeWidth: 720px;

    --lineWidth: 2px;
    --itemBorderWidth: 1px;

    --zIndexBackdrop: 100;
    --zIndexDialog: 110;
    --zIndexPicker: 120;
    --zIndexCommandPaletteOverlay: 200;
    --zIndexCommandPaletteContent: 210;

    --colShadow: rgba(0, 0, 0, 0.2);

    --transTime: 200ms;

    @media (prefers-reduced-motion: reduce) {
        --transTime: 0ms;
    }
}

$breakpointMobile: 768px;
