// Global styles
// BEM convention: PascalCase namespace (e.g. JotItem__PrimaryText--Selected)

@use "theme";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}
