@use "styles/mixins" as *;

.JotItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0.5rem;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: var(--colBgAlt);
    }

    &--Selected {
        outline-offset: -1px;

        @include StandardOutline;
    }

    &__Icon {
        display: grid;
        align-items: center;
        flex-shrink: 0;
        color: var(--colText);
    }

    --iconSize: 24px;

    &__Favicon {
        width: var(--iconSize);
        height: var(--iconSize);
        object-fit: contain;
    }

    &__ColourBlock {
        display: inline-block;
        width: var(--iconSize);
        height: var(--iconSize);
        border-radius: 50%;
    }

    &__Body {
        display: flex;
        align-items: center;
        min-width: 0;
        gap: 0.5rem;
        flex-grow: 10;
    }

    &__PrimaryText,
    &__SecondaryText {
        @include Ellipsified;
    }

    &__PrimaryText {
        font-size: var(--fontSizeMd);
        color: var(--colText);
        flex-shrink: 1;

        &--TodoDone {
            text-decoration: line-through;
            color: var(--colSub);
        }

        // &--Title {
        //     color: var(--colMain);
        // }
    }

    &__SecondaryText {
        font-size: var(--fontSizeSm);
        color: var(--colSub);
        flex-shrink: 10;
    }

    &__StatusWrapper {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        flex-shrink: 0;
        margin-left: auto;
    }

    &__StatusIcon {
        display: grid;
        place-items: center;
        color: var(--colMain);
    }

    &__Datetime {
        font-size: var(--fontSizeMd);
        color: var(--colText);
        flex-shrink: 0;
    }

    &--Expanded {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        padding: 0.75rem 0.5rem;
        border-left: var(--lineWidth) solid var(--colSub);
        border-bottom: var(--lineWidth) solid var(--colSub);

        .JotItem__Datetime {
            color: var(--colSub);
        }
    }

    &__ExpandedRow1 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }

    &__ExpandedRow2 {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        flex-wrap: wrap;
        width: 100%;
    }

    &__ExpandedRow2Right {
        margin-left: auto;
    }

    &__Tags {
        @include Ellipsified;
        font-size: var(--fontSizeSm);
        color: var(--colSub);
    }
}
