@use "styles/mixins" as *;

.JotItemContextMenu {
    composes: Dropdown__Content from global;

    &__Item {
        composes: Dropdown__Item from global;

        &--Destructive {
            color: var(--colDanger) !important;

            &:hover {
                color: var(--colBg) !important;
            }
        }
    }

    &__Separator {
        composes: Dropdown__Separator from global;
    }
}
