@use "styles/mixins" as *;

.JotItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.625rem 0.5rem;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: var(--colBgSec);
    }

    &--Selected {
        outline-offset: -1px;

        @include StandardOutline;
    }

    &__Icon {
        display: grid;
        align-items: center;
        flex-shrink: 0;
        color: var(--colText);
    }

    $iconSize: 16px;

    &__Favicon {
        width: $iconSize;
        height: $iconSize;
        object-fit: contain;
    }

    &__ColourBlock {
        display: inline-block;
        width: $iconSize;
        height: $iconSize;
        border-radius: 50%;
    }

    &__Body {
        display: flex;
        align-items: center;
        min-width: 0;
        gap: 0.5rem;
        flex-grow: 10;
    }

    &__PrimaryText,
    &__SecondaryText {
        @include Ellipsified;
    }

    &__PrimaryText {
        font-size: var(--fontSizeMd);
        color: var(--colText);
        flex-shrink: 1;

        &--TodoDone {
            text-decoration: line-through;
            color: var(--colTextSec);
        }
    }

    &__SecondaryText {
        font-size: var(--fontSizeSm);
        color: var(--colTextSec);
        flex-shrink: 10;
    }

    &__StatusWrapper {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        flex-shrink: 0;
        margin-left: auto;
    }

    &__StatusIcon {
        display: grid;
        place-items: center;
        color: var(--colTextSec);
    }

    &__Datetime {
        font-size: var(--fontSizeMd);
        color: var(--colText);
        flex-shrink: 0;
    }
}
