@use "styles/vars" as *;
@use "styles/mixins" as *;

.CollectionDropdown {
    min-width: 0;

    &__Trigger {
        composes: Dropdown__Trigger from global;
        @include ClearBtn;
        padding: 0.5rem !important;
        box-sizing: border-box;
        max-width: 100%;
    }

    &__TriggerLabel {
        @include Ellipsified;
    }

    &__TriggerChevron {
        composes: Dropdown__Chevron from global;
    }

    &__Content {
        composes: Dropdown__Content from global;
        min-width: 200px;
        max-height: 60vh;
        overflow-y: auto;
    }

    &__Item {
        composes: Dropdown__Item from global;
    }

    &__ColourDot {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        flex-shrink: 0;
    }

    &__ItemLabel {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__Hotkey {
        margin-left: auto;
    }

    &__Separator {
        composes: Dropdown__Separator from global;
    }
}
