@use "styles/mixins" as *;

.CommandPalette {
    &__Overlay {
        composes: DialogWrapper__Overlay from global;
        z-index: var(--zIndexCommandPaletteOverlay);
    }

    &__Content {
        composes: DialogWrapper__Content from global;
        z-index: var(--zIndexCommandPaletteContent);
        overflow-y: hidden !important;
    }

    &__Command {
        display: flex;
        flex-direction: column;
    }

    &__Input {
        width: 100%;
        padding: 0.5rem 0;
        font-size: 1rem;
        font-family: inherit;
        background: transparent;
        border: none;
        border-bottom: var(--lineWidth) solid var(--colText);
        color: var(--colText);
        outline: none;

        &::placeholder {
            color: var(--colTextAlt);
        }

        &:focus,
        &:focus-visible {
            outline: none;
            border-bottom-color: var(--colMain);
        }
    }
}

.CommandPaletteList {
    &__List {
        max-height: min(600px, 60vh);
        padding: 1rem 0;
        overflow-y: auto;
    }

    &__Empty {
        padding: 1rem 0.75rem;
        color: var(--colTextAlt);
        text-align: center;
    }
}

.CommandPaletteGroup {
    &__Section {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__Group {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__Heading {
        font-size: var(--fontSizeSm);
        color: var(--colSub);
    }
}

.CommandPaletteItem {
    &__Item {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 0.5rem 0.75rem;
        cursor: pointer;
        border-radius: 0.25rem;
        color: var(--colText);

        &:hover,
        &[data-selected="true"],
        &[aria-selected="true"] {
            background-color: var(--colBgAlt);
        }

        &[data-disabled="true"] {
            color: var(--colTextAlt);
            pointer-events: none;
        }
    }

    &__ItemContent {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;
    }

    &__LabelLine {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__SubLabel {
        font-size: var(--fontSizeSm);
        color: var(--colTextAlt);
    }

    &__Check {
        color: var(--colMain);
        display: grid;
        place-items: center;
    }
}

.ThemeColourPreview {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 1.5rem;
    padding: 0.5rem;
    margin-left: auto;

    &__Block {
        width: 0.5rem;
        height: 0.5rem;
    }
}
