@use "styles/mixins" as *;

.DialogManager {
    &__Overlay {
        composes: DialogWrapper__Overlay from global;
    }

    &__Content {
        composes: DialogWrapper__Content from global;
    }

    &__Title {
        composes: VisuallyHidden from global;
    }
}
