@use "styles/vars" as *;
@use "styles/mixins" as *;

.Header {
    position: fixed;
    top: 0;
    width: 100%;
    border-color: var(--colText);
    border-style: solid;
    border-width: 0 0 var(--lineWidth) 0;
    background-color: var(--colBg);

    &__Wrapper {
        max-width: $contentWidth;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 0.75rem 0.75rem 1rem;
    }

    &__Logo {
        font-weight: 600;
        color: var(--colText);
        user-select: none;
        cursor: pointer;
    }

    &__Block {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        &--Left {
            gap: 1rem;
            flex-shrink: 1;
            min-width: 0;
        }

        &--Right {
            justify-content: flex-end;
            flex-shrink: 2;
            min-width: 0;
        }
    }

    &__Separator {
        font-size: var(--fontSizeSeparator);
        color: var(--colTextSec);
    }

    @media (width <= $breakpointMobile) {
        top: auto;
        bottom: 0;
        border-width: var(--lineWidth) 0 0 0;

        &__Wrapper {
            padding: 0.5rem 0.5rem 0.5rem 1rem;
        }

        &__Block {
            gap: 0.25rem;

            &--Left {
                gap: 0.5rem;
            }
        }

        &__Logo,
        &__Separator {
            display: none;
        }
    }
}
