@use "styles/vars" as *;
@use "styles/mixins" as *;

.Header {
    position: fixed;
    top: 0;
    width: 100%;
    user-select: none;
    z-index: var(--zIndexHeader);
    @include GlassBlur;

    body[data-scroll-locked] & {
        // Handle content shift caused by fat scrollbar
        // The variable is handled `react-remove-scroll-bar`
        // (which is also used by radix)
        width: calc(100% - var(--removed-body-scroll-bar-size));
    }

    &__Wrapper {
        max-width: var(--fullWidth);
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
    }

    &__Logo {
        font-weight: 600;
        color: var(--colText);
        user-select: none;
        cursor: pointer;
    }

    &__Block {
        display: flex;
        align-items: center;

        &--Left {
            gap: 0;
            flex-shrink: 1;
            min-width: 0;
        }

        &--FlexEnd {
            gap: 0.5rem;
            justify-content: flex-end;
            flex-shrink: 2;
            min-width: 0;
        }
    }

    &__Separator {
        font-size: var(--fontSizeSeparator);
        color: var(--colTextAlt);
        margin-left: 0.5rem;
    }

    &__BtnTheme {
        composes: Btn Btn--Icon from global;
        padding: 0.5rem !important;
    }

    @media (width <= $breakpointMobile) {
        top: auto;
        bottom: 0;

        @media (pointer: coarse) {
            &__Wrapper {
                padding-bottom: 1rem;
            }
        }

        &__Block {
            gap: 0.25rem;

            &--Left {
                gap: 0.5rem;
            }
        }

        &__Logo,
        &__Separator {
            display: none;
        }
    }
}
