@use "styles/mixins" as *;

.MainInput {
    &__Input {
        width: 100%;
        padding: 0.5rem;
        font-size: var(--fontSizeMd);

        &:focus,
        &:focus-visible {
            outline-style: none;
            border-color: var(--colMain);
        }
    }
}
