@use "styles/mixins" as *;

.MainInput {
    border-width: var(--lineWidth);
    border-style: solid;
    border-color: var(--colText);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding-right: 0.5rem;

    &:focus-within {
        border-color: var(--colMain);
        outline-offset: 0px;
        outline: 1px solid var(--colMain);
    }

    &__Input {
        font-size: var(--fontSizeMd);
        font-family: var(--fontFamily);
        border: none;
        flex: 1;
        padding: 0.5rem;
        height: 3rem;

        &:focus,
        &:focus-visible {
            outline: none;
        }
    }
}
