@use "styles/mixins" as *;

.PreviousVersionDialog {
    composes: Dialog from global;

    &__Title {
        composes: Dialog__Title from global;
        margin-bottom: 0.5rem;
    }

    &__CloseBtn {
        composes: Btn Btn--Icon from global;
        composes: Dialog__CloseBtn from global;
    }

    &__Timestamp {
        display: block;
        font-size: var(--fontSizeSm);
        color: var(--colTextAlt);
        margin-bottom: 0.5rem;
    }

    &__Textarea {
        composes: Dialog__Textarea from global;
    }

    &__Footer {
        composes: Dialog__Footer from global;
        margin-top: 0.75rem;
    }

    &__BtnBack {
        composes: Btn Btn--Sec from global;
    }

    &__BtnRestore {
        composes: Btn Btn--Pri from global;
    }
}
