.SyncButton {
    composes: Btn Btn--Icon from global;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &__Label {
        font-size: var(--fontSizeSm);
        color: var(--colText);
    }

    &__Icon {
        flex-shrink: 0;
        color: var(--colMain);

        &--Spinning {
            animation: spin 1s linear infinite;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
