@use "styles/vars" as *;
@use "styles/mixins" as *;

.ThemeModeDropdown {
    &__Trigger {
        composes: Dropdown__Trigger from global;
        @include ClearBtn;
        padding: 0.25rem 0.5rem;
    }

    &__Content {
        composes: Dropdown__Content from global;
        min-width: 130px;
    }

    &__Item {
        composes: Dropdown__Item from global;
    }

    &__ActiveDot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--colText);
        margin-left: auto;
    }
}
