@use "styles/vars" as *;
@use "styles/mixins" as *;

.UserDropdown {
    &__Trigger {
        composes: Dropdown__Trigger from global;
        @include ClearBtn;
    }

    &__Chevron {
        composes: Dropdown__Chevron from global;
    }

    &__Content {
        composes: Dropdown__Content from global;
    }

    &__Item {
        composes: Dropdown__Item from global;
    }

    &__Separator {
        composes: Dropdown__Separator from global;
    }
}
