@use "styles/vars" as *;

.AppLayout {
    &__OutletWrapper {
        max-width: var(--fullWidth);
        margin: 0 auto;
        padding-top: var(--verticalPaddingLg);
        padding-bottom: var(--verticalPaddingSm);

        @media (width <= $breakpointMobile) {
            padding-top: var(--verticalPaddingSm);
            padding-bottom: var(--verticalPaddingLg);
        }
    }
}
